body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#product-list, .twelve.columns, section#home {
  width: 1260px;
  margin: auto;
}

/*-------------- NAVIGATION -------------*/
header {
  height: 50px;
  background-color: #a57967;
}

header > div.container {
  width: 100%;
  margin: 0;
}

header > div.twelve.columns, nav.six.columns {
  height: 50px;
}

#logo.six.columns > a {
  margin-left: 25px;
}

#logo.six.columns > a > img {
  width: 10%;
  margin-top: 12px;
}

#logo.six.columns > a, nav.six.columns > ul > li > a {
  color: #fff;
}

#logo.six.columns > a, nav.six.columns > ul > li > a:hover {
  color: #000;
}

nav.six.columns > ul {
  display: flex;
  float: right;
  margin-top: 13px;
  width: 64%;
  height: 50px;
}

nav.six.columns > ul > li {
  text-transform: lowercase;
}

nav.six.columns > ul > li:first-letter {
  text-transform: uppercase;
}

nav.six.columns > ul > li {
  padding-right: 25px;
  padding-left: 25px;
}

nav.six.columns > ul > li > a > img, nav.six.columns > ul > li#login-icon > a > img {
  width: 30%;
}

nav.six.columns > ul > li#products {
  padding-left: 0;
}

nav.six.columns > ul > li#login-icon {
  padding-right: 0;
}

/*--------------- HOMEPAGE ----------------*/

/*---------- HERO ----------*/
#hero {
  width: 100%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(images/barbershop.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#hero > h1 {
  font-family: 'Rye';
  font-size: 8em;
}

.twelve.columns > button {
  width: 200px;
  height: 50px;
  border: 4px solid #a57967;
  background-color: #fff;
  font-size: 22px;
  font-weight: bolder;
}

.twelve.columns > button > a {
  color: #a57967;
}

.twelve.columns > button:hover {
  background-color: #000;
}

/*------ BLURB -------*/
#blurb.row {
  height: 400px;
  background-color: #000;
}

#blurb.row > div.six.columns {
  margin-top: 5%;
}

#blurb.row > div.six.columns > h3 {
  color: #a57967;
  font-size: 30px;
  line-height: 1.8;
  width: 70%;
  margin-left: 155px;
  margin-top: 65px;
  letter-spacing: 2px;
}

#blurb.row > div.six.columns > img {
  width: 40%;
}

/*------ PANEL -------*/
#panel-top.row {
  height: 30px;
}

.panel-header > ul {
  display: flex;
  margin: 0;
  padding-top: 4px;
  letter-spacing: 2px;
}

.panel-header > ul > li {
  width: 33.3%;
  text-align: center;
}

.panel-header > ul > li > a {
  color: #000;
}

#img-panel.row {
  width: 1303px;
  height: 372px;
  display: inline-block;
}

#guides.four.columns, div#products.four.columns, div#history.four.columns {
  width: 29%;
}

.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#guides.four.columns > img.img-responsive, div#products.four.columns > img,
#history.four.columns > img {
  width: 430px;
  overflow: hidden;
  min-height: 379px;
  max-height: 379px;
  float: left;
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#guides-text.overlay > h4, div#products-text.overlay > h4,
#history-text.overlay > h4 {
  position: absolute;
  font-family: 'Rye';
  font-size: 60px;
  width: 437px;
  text-align: center;
  margin-top: 150px;
}

#guides-text.overlay > h4 > a, div#products-text.overlay > h4 > a,
#history-text.overlay > h4 > a {
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  opacity: 0;
  margin: 0;
  width: 430px;
  min-height: 379px;
  max-height: 379px;
  -webkit-transition: all 1.8s ease-in-out;
  -moz-transition: all 1.8s ease-in-out;
  -o-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

/*------ SHIPPING & ADDRESS -------*/
#shipping-find-us.row {
  height: 400px;
  background-color: #000;
  color: #a57967;
  font-size: 14px;
  border: 8px solid #a57967;
}

#homepage-shipping.six.columns, #find-us.six.columns {
  width: 20%;
  margin-left: 250px;
  text-align: center;
}

#homepage-shipping.six.columns {
  margin-right: 100px;
  padding-top: 130px;
}

#find-us.six.columns {
  margin-right: 100px;
}

#homepage-shipping.six.columns > img, div#find-us.six.columns > img {
  width: 20%;
}

#find-us.six.columns > img {
  margin-bottom: 20px;
}

#find-us.six.columns {
  margin-left: 0;
  margin-left: 100px;
  padding-top: 110px;
}

#homepage-shipping.six.columns > h4, div#find-us.six.columns > h4 {
  line-height: 1.8;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
}

.address {
  margin: 0;
}

/*------ MAP -------*/
#location-map.row {
  height: 400px;
}

#map.twelve.columns > img {
  width: 100%;
}

/*----------------- PRODUCTS ----------------*/
#products-header.row {
  height: 170px;
}

#products-header.row > h1 {
  text-align: center;
  margin-top: 90px;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 10px;
}

#products > div.row {
  text-align: center;
}

.eight.columns > ul#filter-sort {
  display: -webkit-inline-box;
  width: 75%;
  padding-left: 300px;
}

.eight.columns > ul#filter-sort > li {
  margin-left: 60px;
}

#filter-options {
  color: #7a7a7a;
}

#search-img.four.columns > img {
  width: 4%;
  float: left;
}

#products-page.row {
  border-top: 1px solid #7a7a7a;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-top: 45px;
}

#products-to-buy.four.columns {
  margin: 0;
  width: 350px;
  margin-left: 15px;
  font-size: 14px;
}

#products-to-buy.four.columns > div.product-image {
  min-height: 290px;
  max-height: 290px;
}

#products-to-buy.four.columns > div.product-image > img {
  width: 90%;
  margin-left: 20px;
  max-height: 290px;
}

#search-options.twelve.columns {
  text-align: center;
}

#search-options.twelve.columns > input {
  width: 30%;
  text-align: center;
}

#search-options.twelve.columns > input:focus {
  background: #f5f5f5;
  color: #000;
  border: 2px solid #000;
}

.name-price {
  display: flex;
  width: 320px;
  margin-left: 24px;
  color: #242424;
  min-height: 85px;
  max-height: 85px;
}

#product-name {
  margin: 20px 25px 20px 10px;
  width: 325px;
  font-size: 13px;
}

#product-price {
  margin-top: 20px;
  margin-right: 10px;
}

#products-to-buy.four.columns > a > button {
  width: 320px;
  margin-left: 22px;
  border-radius: 0;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #fff;
  border: 3px solid #a57967;
  font-weight: bolder;
  color: #a57967;
  margin-bottom: 30px;
}

#products-to-buy.four.columns > a > button:hover {
  background-color: #a57967;
  color: #fff;
}

.bling {
  font-weight: bolder;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 15px;
}

.bling::before {
  content:"$";
}

/*-------------- CART -------------*/
#cart-main.row {
  width: 80%;
  margin: auto;
}

#cart-header.row {
  background-color: #000;
  color: #fff;
}

#cart-header.row {
  padding: 10px 0 0 10px;
  margin-bottom: 0;
  height: 40px;
}

#product-list.cart > #products-header.row > h1 {
  margin-bottom: 15px;
}

#products-header.row > h5 {
  text-align: center;
  color: #4a4a4a;
  font-size: 20px;
}

#cart-header.row > div.six.columns > h5, #cart-header.row > div.three.columns > h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 4px;
  font-weight: bolder;;
}

#cart-header.row > div.six.columns > h5 {
  margin-left: 40px;
}

#cart-header.row > div.three.columns {
  float: right;
  width: 12%;
}

#products-in-cart.row {
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.product-image > img {
  width: 60px;
  margin-left: 20px;
}

#cart-items.cart {
  height: 120px;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 30px;
}

#cart-items.cart > div.six.columns > p {
  margin-left: 18px;
  margin-top: 20px;
  color: #4a4a4a;
}

#cart-items.cart > div.two.columns {
  margin-top: 27px;
  margin-left: 145px;
}

#cart-items.cart > div.three.columns {
  width: 6%;
  margin-top: 32px;
  margin-left: 32px;
  display: inline-flex;
}

#cart-items.cart > div.three.columns > input {
  width: 35%;
  height: 10%;
}

#cart-items.cart > div.three.columns > input:focus {
  border: none;
}

#cart-item-price {
  margin-right: 40px;
}

#qty-counter > input {
  border-radius: 0;
  width: 80%;
}

#qty-counter > input:focus {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/*#qty-counter > span.qty-text {
  box-sizing: border-box;
  font-size: 0.87836rem;
  white-space: normal;
}*/

/*#qty-counter > span.up-arrow {
  transition: 0.2s;
  outline: none;
  cursor: pointer !important;
  display: block;
  border-left: 1px solid #000;
}*/

/*#products-in-cart.row > div.three.columns > p {
  width: 50%;
  float: right;
}*/

#cart-subtotal.row {
  width: 80%;
  margin: auto;
  text-align: right;
  line-height: 0.2;
  padding: 5px 2px 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
}

p#subtotal {
  color: #454545;
  margin-right: 20px;
}

p#subtotal > span {
  font-weight: bolder;
  color: black;
  margin-left: 12px;
}

#shipping-disclaimer {
  color: #919191;
  font-size: 10px;
  font-style: italic;
  margin-right: 20px;
}

#shop-checkout-btn {
  text-align: center;
  margin-bottom: 25px;
}

#proceed-to-checkout, #continue-shopping {
  width: 240px;
  margin-left: 22px;
  border-radius: 0;
  height: 50px;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

#proceed-to-checkout, #continue-shopping {
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
}

#continue-shopping {
  margin-right: 450px;
}

/*-------------- CHECKOUT -------------*/
#checkout > div.row > div.six.columns {
  padding: 35px 0 0 80px;
  width: 100%;
}

.customer-flow > h2 {
  font-family: 'Rye';
  margin-bottom: 15px;
}

.customer-flow > p {
  font-size: 12px;
  word-spacing: 6px;
  width: 95%;
  padding-bottom: 25px;
  border-bottom: 1px solid #d6d6d6;
}

.customer-flow > p > a {
  color: black;
}

input[type="text"]#country::-webkit-input-placeholder {
  color: 080808;
  font-weight: bolder;
  text-transform: uppercase;
}

input#country:focus {
  border: none;
  background-color: #fff;
}

/*-------------- CHECKOUT-CART -------------*/
.checkout-cart {
  height: 900px;
  background-color: #f5f5f5;
  border-left: 1px solid #d6d6d6;
  padding: 55px;
  width: 85%;
  float: right;
}

.updated-checkout-cart {
  margin-top: 25px;
  padding: 20px;
  padding-bottom: 0;
}

#checkout-cart.row > div.five.columns {
  float: right
}

#checkout-cart-items {
  height: 100px;
}

div.two.columns.product-thumbnail {
  width: 15%;
  height: 4.6em;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.product-thumbnail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.product-thumbnail__wrapper > img {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product-thumbnail__quantity {
  font-size: 0.85714em;
  font-weight: 700;
  white-space: nowrap;
  padding: 0.15em 0.65em;
  border-radius: 2em;
  background-color: rgba(153,153,153,0.9);
  color: #fff;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 3;
}

.product-thumbnail::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
  z-index: 2;
}

#checkout-cart-items > div > p {
  font-size: 13px;
}

.seven.columns.text, div.three.columns.text {
  margin-top: 15px;
}

.seven.columns.text {
  margin-left: 15px;
}

.three.columns.text {
  margin-left: 9px;
  text-align: right;
}

.seven.columns.text > p {
  margin-left: 10px;
}

#running-totals.row {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 30px;
  /*padding-bottom: 10px;*/
}

#payment-headings.six.columns {
  color: #616161;
  font-size: 14px;
  line-height: 0.3;
  height: 70px;
}

#payment-costs.six.columns {
  text-align: right;
}

#total.row {
  padding-top: 25px;
}

#total.row > div.eight.columns {
  margin-top: 5px;
}

.four.columns.cost {
  display: -webkit-inline-box;
  margin-left: 0;
}

p#total-currency {
  font-size: 10px;
  margin: 10px 10px 0 37px;
  color: #616161;
}

p#total-cost {
  font-size: 22px;
  font-weight: bolder;
}

/*--------------- CUSTOMER --------------*/
.checkout-forms {
  width: 85%;
  margin-bottom: 30px;
  margin-left: 80px;
}

#customer-form.row {
  margin-bottom: 30px;
}

#customer-email > form {
  margin-bottom: 12px;
}

#customer-email > form > input, #shipping-details > form > div > input,
#shipping-details > form > div > select {
  margin-top: 10px;
  width: 100%;
  border: 2px solid #666;
  height: 45px;
}

#customer-email > form > input:focus, #shipping-details > form > div > input:focus,
#shipping-details > form > div > select:focus, .credit-card-number > input:focus,
.credit-card-name > input:focus, .credit-card-date > input:focus, .credit-card-cvc > input:focus {
  background: #f5f5f5;
  color: #000;
  border: 2px solid #000;
}

#customer-email > p {
  font-size: 12px;
  color: #828282  ;
}

#customer-email > p > a {
  color: #000;
  margin-left: 8px;
}

#shipping-details > form > div > input, #shipping-details > form > div > select {
  border: 1px solid #666;
}

.eight.columns.shipping-address {
  width: 67%;
}

.four.columns.shipping-apartment {
  margin-left: 10px;
}

.eight.columns.shipping-address, .five.columns.shipping-country {
  margin-left: 0;
}

.five.columns.shipping-state {
  margin-left: 10px;
}

.two.columns.shipping-zipcode {
  margin-left: 10px;
  width: 109px;
}

#customer-navigation.row {
  margin-left: 10px;
}

#customer-navigation.row  > div.six.columns > a > button {
  margin-left: 85px;
  min-width: 275px;
}

.save-information {
  margin-top: 20px;
}

#save-checkbox.six.columns {
  width: 0;
  margin-left: 10px;
}

input[type=checkbox] {
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  padding: 10px;
}

#info-save > p {
  margin-top: 2px;
  color: #828282;
  font-size: 14px;
}

div.four.columns.return {
  width: 40%;
}

.four.columns.return {
  margin-left: 0;
}

.return > p {
  margin-top: 10px;
}

.return > img {
  margin-top: 15px;
}

.return > p > a {
  color: #000;
  font-size: 15px;
}

.return > img {
  width: 50%;
}

#customer-navigation.row > div.six.columns > a > button, #continue-shipping {
  height: 50px;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
  margin-left: 32px;
}

#customer-navigation.row > div.six.columns > a > button:hover, #continue-shipping:hover {
  background-color: #a57967;
  color: #fff;
}

#complete-form {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  margin-top: -20px;
}

/*--------------- SHIPPING --------------*/
#customer-email > h5, #shipping-details > h5, .shipping-method.row > h5 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 15px;
}

#shipping-details > p {
  font-size: 12px;
  margin-bottom: 5px;
  color: #6b6b6b;
}

#edit {
  margin-top: 14px;
}

#edit > a {
  color: #000;
}

.shipping-method.row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.shipping-method.row > form {
  border: 2px solid #d6d6d6;
  border-radius: 4px;
}

.shipping-method.row > form > div.row {
  border-bottom: 1px solid #d6d6d6;
  padding-left: 20px;
  padding-top: 20px;
}

.shipping-method.row > form > div.row > div.nine.columns,
.shipping-method.row > form > div.row > div.eleven.columns {
  margin-left: 0;
  font-size: 14px;
}

.shipping-method.row > form > div.row > div.nine.columns > label,
.shipping-method.row > form > div.row > div.eleven.columns > label {
  color: #6b6b6b;
}

.shipping-method.row > form > div.row > div.two.columns > p {
  text-align: right;
  font-size: 14px;
  font-weight: bolder;
}

/*--------------- PAYMENT --------------*/
div#payment-method > h5 {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: lighter;
}

div#payment-method > p {
  font-size: 13px;
  color: #616161;
}

#payment-form.row {
  border: 2px solid #d6d6d6;
  border-radius: 4px;
}

#payment-form.row > form {
  margin-bottom: 0;
}

#credit-card {
  height: 10px;
}

#credit-card > div.eight.columns, #credit-card > div.four.columns {
  padding: 20px;
}

#credit-card > div.eight.columns > h5 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 15px;
}

#credit-card > .four.columns {
  margin-top: -5px;
}

#credit-card > .four.columns > img {
  width: 100%;
}

.credit-card-details {
  background-color: #f5f5f5;
  margin-top: 60px;
  height: 160px;
  text-align: center;
  border-top: 1px solid #d6d6d6;
  /*border-bottom: 1px solid #d6d6d6;*/
}

.credit-card-number > input, .credit-card-name > input,
.credit-card-date > input, .credit-card-cvc > input {
  width: 90%;
}

.credit-card-number {
  margin-bottom: 20px;
  margin-top: 30px;
}

.credit-card-name {
  margin-left: 16px;
}

.credit-card-date, .credit-card-cvc {
  margin-left: 4px;
}

.choose-address.row {
  padding-bottom: 20px;
}

/*--------------- SUCCESS --------------*/
#success {
  height: 500px;
}

#success > div.row {
  text-align: center;
}

#success > div.row > h5 {
  margin-top: 70px;
  letter-spacing: 2px;
}

#email-confirmation {
  font-weight: bolder;
}

#beard {
  width: 10%;
  margin-top: 40px;
}

#sit-back {
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 14px;
}

/*--------------- GUIDES --------------*/
#guide-list {
  margin-bottom: 90px;
}

#guides-header.row {
  height: 170px;
}

#guides-header.row > h1 {
  text-align: center;
  margin-top: 90px;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 10px;
}

#guide-list > div.row {
  width: 80%;
  margin: auto;
  text-align: center;
}

#beard-guides > a > h5, #stache-guides > a > h5 {
  color: #000;
}

#beard-guides > a > img {
  width: 20%;
  margin-top: 20px;
}

#stache-guides > a > img {
  width: 20%;
  margin-top: 40px;
}

/*--------------- HISTORY --------------*/
#history-page {
  background-color: #000;
  height: 550px;
}

#history-header.row {
  height: 170px;
}

.row > h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 8px;
  color: #a57967;
}

#history-header {
  padding-top: 70px;
}

#youtube-history.row {
  margin-top: 65px;
  text-align: center;
}

iframe {
  border: 5px solid #a57967;
  border-radius: 8px;
}

/*--------------- ACCOUNT PAGES --------------*/
#first-name.six.columns > input, #last-name.six.columns > input,
#email.six.columns > input, #password.six.columns > input {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}
/*input[type=text], input[type=password] {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}*/

input:focus {
  border: 3px solid #a57967;
  background-color: #a57967;
  color: #fff;
  font-weight: bolder;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/*--------------- ACCOUNT PAGES --------------*/
#first-name.six.columns > input, #last-name.six.columns > input,
#email.six.columns > input, #password.six.columns > input {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}
/*input[type=text], input[type=password] {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}*/

input:focus {
  border: 3px solid #a57967;
  background-color: #a57967;
  color: #fff;
  font-weight: bolder;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/*---------- SIGNUP ---------*/
/*#create-account {
  margin-top: 90px;
}*/

#create-title.twelve.columns {
  height: 75px;
}

#create-title.twelve.columns, #create-account.twelve.columns,
#create-account-btn.twelve.columns  {
  text-align: center;
}

#create-title.twelve.columns > h1, #return-to-login > div.row > p {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 70px;
}

#sign-up-form {
  margin-bottom: 0;
}

#first-name.six.columns, #email.six.columns {
  text-align: right;
}

#last-name.six.columns, #password.six.columns {
  text-align: left;
}

#user-name.row {
  margin-bottom: 25px;
}

#email-password.row {
  height: 90px;
}

#create-account {
  height: 320px;
}

#create-account-btn.twelve.columns > a > button#create,
#return-to-login > div.row > a > button#return-to-login-btn {
  width: 250px;
  height: 50px;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
}

#create-account-btn.twelve.columns > a > button#create:hover,
#return-to-login > div.row > a > button#return-to-login-btn:hover {
  background-color: #a57967;
  color: #fff;
}

#return-to-login {
  text-align: center;
  width: 60%;
  margin: auto;
  border-top: 1px solid #999;
  padding-top: 35px;
  height: 250px;
}

#return-to-login > div.row {
  height: 60px;
}

/*---------- LOGIN ---------*/
#login-account-btn, #login-title, #create-title, #create-account-btn {
  width: 100%;
}

.modalDialog {
	position: fixed;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 700px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

#openModal.modalDialog > div, #openModal-signup.modalDialog > div {
  margin-top: 50px;
  height: 480px;
}

#openModal-signup.modalDialog > div {
  height: 510px;
}

#login-title.twelve.columns, #login-account.twelve.columns,
#login-account-btn.twelve.columns  {
  text-align: center;
}

#login-title.twelve.columns {
  height: 75px;
}

#login-title.twelve.columns > h1, #return-to-signup > p {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 70px;
}

#return-to-signup > p {
  margin-bottom: 30px;
}

#login-account-btn {
  margin-bottom: 12px;
}

#login-account {
  /*height: 390px;*/
  text-align: center;
}

#login-account > p {
  font-size: 13px;
}

#login-form {
  margin-bottom: 70px;
}

#login-account-btn.twelve.columns > a > button#login-btn,
#return-to-signup > a > button {
  width: 250px;
  height: 50px;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
}

#return-to-signup > a > button {
  font-size: 15px;
}

#login-account-btn.twelve.columns > a > button#login:hover,
#return-to-signup > a > button:hover {
  background-color: #a57967;
  color: #fff;
}

#return-to-signup {
  text-align: center;
  width: 60%;
  margin: auto;
  border-top: 1px solid #999;
  padding-top: 35px;
  height: 250px;
}

img#__lpform_email_icon, img#__lpform_password_icon,
img#__lpform_firstName_icon, img#__lpform_lastName_icon {
  display: none;
}

/*--------------- USER --------------*/
#user-page > div.row {
  text-align: center;
  margin-top: 80px;
}

#info-orders.row {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

#user-page > div.row > h3, #user-page > div.row > h5 {
  height: 50px;
  width: 80%;
  margin: auto;
}

#user-page > div.row > h3 {
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*#user-page > div.row > h5, #order-history > h5 {
  font-size: 16px;
}*/

/*#info-orders.row > div.five.columns, #info-orders.row > div.seven.columns {
  font-size: 18px;
  text-transform: uppercase;
}*/

#user-orders {
  height: 400px;
  /*background-color: #f5f5f5;*/
  border: 3px solid #a57967;
  border-radius: 4px;
  padding: 25px;
  float: right;
  text-align: center;
}

#user-page > div.row > h5 {
  font-size: 14px;
}

#user-page > div.row {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

#user-page > div.row > a > button {
  /*font-size: 14px;*/
  width: 140px;
  height: 40px;
  border: 2px solid #a57967;
  background-color: #fff;
  font-size: 16px;
  font-weight: bolder;
  color: #a57967;
}

#user-page > div.row > a > button:hover {
  background-color: #a57967;
  color: #fff;
}

div#user-details.row {
  /*margin-top: 55px;*/
}

#user-info {
  /*background-color: lightgreen;*/
  margin-left: 15px;
  margin-right: 22px;
  text-align:left;
}

#user-info.five.columns > div {
  font-size: 14px;
  line-height: 0.3;
}

#user-info > h5 {
  margin-top: 25px;
}

#user-info > h5, #user-orders > h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

#information {
  color: #6b6b6b;
  word-spacing: 1px;
}

#information > p#edit {
  margin-top: 40px;
}

#order-history {
  background-color: pink;
}

/*--------------- NOT FOUND --------------*/
#not-found {
  background-color: #000;
}

#nf-header {
  text-align: center;
}

#nf-header > h3 {
  padding-top: 80px;
  color: #a57967;
}

#not-found > div > img {
  width: 20%;
  border: 4px solid #a57967;
  border-radius: 2px;
}

/*--------------- FOOTER --------------*/
footer, .push {
  height: 40px;
}

footer {
  background-color: #000;
  position: relative;
  height: 100px;
  color: #a57967;
}

footer > div.twelve.columns {
  position: absolute;
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}
