body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  /*font-family: 'Maiden Orange', cursive;*/
  /*font-family: 'Oswald', sans-serif;*/
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*-------------- NAVIGATION -------------*/
header {
  height: 50px;
  background-color: #a57967;
}

header > div.container {
  width: 100%;
  margin: 0;
}

#logo.six.columns > a {
  margin-left: 25px;
}

#logo.six.columns > a > img {
  width: 10%;
  margin-top: 12px;
  /*cursor: url('images/logo_black.png'), auto;*/
}

#logo.six.columns > a, nav.six.columns > ul > li > a {
  color: #fff;
}

#logo.six.columns > a, nav.six.columns > ul > li > a:hover {
  color: #000;
}

nav.six.columns > ul {
  display: flex;
  float: right;
  margin-top: 10px;
}

nav.six.columns > ul > li {
  padding-right: 25px;
  padding-left: 25px;
}

/*--------------- HOMEPAGE ----------------*/

/*---------- HERO ----------*/
#hero {
  width: 100%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(images/barbershop.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#hero > h1 {
  font-family: 'Rye';
  font-size: 8em;
}

.twelve.columns > button {
  width: 200px;
  height: 50px;
  border: 4px solid #a57967;
  background-color: #fff;
  font-size: 22px;
  font-weight: bolder;
}

.twelve.columns > button > a {
  color: #a57967;
}

.twelve.columns > button:hover {
  background-color: #000;
}

/*------ BLURB -------*/
#blurb.row {
  height: 400px;
  background-color: #000;
}

#blurb.row > div.six.columns {
  margin-top: 5%;
}

#blurb.row > div.six.columns > h3 {
  color: #a57967;
  font-size: 30px;
  line-height: 1.8;
  width: 70%;
  margin-left: 155px;
  margin-top: 65px;
  letter-spacing: 2px;
}

#blurb.row > div.six.columns > img {
  width: 40%;
}

/*------ PANEL -------*/
#panel-top.row {
  height: 30px;
}

.panel-header > ul {
  display: flex;
  margin: 0;
  padding-top: 4px;
  letter-spacing: 2px;
}

.panel-header > ul > li {
  width: 33.3%;
  text-align: center;
}

.panel-header > ul > li > a {
  color: #000;
}

#img-panel.row {
  /*width: 96%;*/
  height: 372px;
  display: inline-block;
}

#guides.four.columns, div#products.four.columns, div#history.four.columns {
  width: 29%;
}

.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#guides.four.columns > img.img-responsive, div#products.four.columns > img,
#history.four.columns > img {
  width: 430px;
  overflow: hidden;
  min-height: 379px;
  max-height: 379px;
  float: left;
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#guides-text.overlay > h4, div#products-text.overlay > h4,
#history-text.overlay > h4 {
  position: absolute;
  font-family: 'Rye';
  font-size: 60px;
  width: 437px;
  text-align: center;
  margin-top: 150px;
}

#guides-text.overlay > h4 > a, div#products-text.overlay > h4 > a,
#history-text.overlay > h4 > a {
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  opacity: 0;
  margin: 0;
  width: 468px;
  min-height: 379px;
  max-height: 379px;
  -webkit-transition: all 1.8s ease-in-out;
  -moz-transition: all 1.8s ease-in-out;
  -o-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

/*------ SHIPPING & ADDRESS -------*/
#shipping-find-us.row {
  height: 400px;
  background-color: #000;
  color: #a57967;
  font-size: 14px;
  border: 8px solid #a57967;
}

#homepage-shipping.six.columns, div#find-us.six.columns {
  width: 20%;
  margin-left: 250px;
  margin-right: 100px;
  text-align: center;
}

#homepage-shipping.six.columns {
  margin-right: 100px;
  padding-top: 130px;
}

#homepage-shipping.six.columns > img, div#find-us.six.columns > img {
  width: 20%;
}

#find-us.six.columns > img {
  margin-bottom: 20px;
}

#find-us.six.columns {
  margin-left: 0;
  margin-left: 100px;
  padding-top: 110px;
}

#homepage-shipping.six.columns > h4, div#find-us.six.columns > h4 {
  line-height: 1.8;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
}

.address {
  margin: 0;
}

/*------ MAP -------*/
#location-map.row {
  height: 400px;
}

#map.twelve.columns > img {
  width: 100%;
}

/*----------------- PRODUCTS ----------------*/
#products-header.row {
  height: 170px;
}

#products-header.row > h1 {
  text-align: center;
  margin-top: 90px;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 10px;
}

#products > div.row {
  text-align: center;
}

.eight.columns > ul#filter-sort {
  display: -webkit-inline-box;
  width: 75%;
  padding-left: 300px;
}

.eight.columns > ul#filter-sort > li {
  margin-left: 60px;
}

#filter-options {
  color: #7a7a7a;
}

#search-img.four.columns > img {
  width: 4%;
  float: left;
}

#products-page.row {
  border-top: 1px solid #7a7a7a;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-top: 45px;
}

#products-to-buy.four.columns {
  margin: 0;
  width: 350px;
  margin-left: 15px;
  font-size: 14px;
}

#products-to-buy.four.columns > div.product-image {
  min-height: 290px;
  max-height: 290px;
}

#products-to-buy.four.columns > div.product-image > img {
  width: 90%;
  margin-left: 20px;
  max-height: 290px;
}

.name-price {
  display: flex;
  width: 320px;
  margin-left: 24px;
  color: #242424;
  min-height: 80px;
  max-height: 80px;
}

#product-name {
  margin: 20px 36px 20px 10px;
  width: 325px;
}

#product-price {
  margin-top: 20px;
  margin-right: 10px;
}

#products-to-buy.four.columns > a > button {
  width: 320px;
  margin-left: 22px;
  border-radius: 0;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #fff;
  border: 3px solid #a57967;
  font-weight: bolder;
  color: #a57967;
  margin-bottom: 30px;
}

#products-to-buy.four.columns > a > button:hover {
  background-color: #a57967;
  color: #fff;
}

.bling::before {
  content:"$";
}

/*-------------- CHECKOUT -------------*/
#checkout > div.row > div.six.columns {
  padding: 35px 0 0 80px;
  width: 100%;
}

.customer-flow > h2 {
  font-family: 'Rye';
  margin-bottom: 15px;
}

.customer-flow > p {
  font-size: 12px;
  word-spacing: 6px;
  width: 95%;
  padding-bottom: 25px;
  border-bottom: 1px solid #d6d6d6;
}

/*-------------- CHECKOUT-CART -------------*/
#cart-items.six.columns {
  height: 900px;
}

#checkout-cart.row > div.five.columns {
  float: right
}

#checkout-cart > div.row > div#cart-items.six.columns {
  background-color: #f5f5f5;
  margin-top: -19px;
  border-left: 1px solid #d6d6d6;
  padding: 55px;
  width: 45%;
  float: right;
  width: 100%;
}

#checkout-cart-items.row {
  margin-top: 30px;
  font-size: 14px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div.two.columns.product-thumbnail {
  width: 15%;
  height: 4.6em;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.product-thumbnail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.product-thumbnail__wrapper > img {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product-thumbnail__quantity {
  font-size: 0.85714em;
  font-weight: 700;
  white-space: nowrap;
  padding: 0.15em 0.65em;
  border-radius: 2em;
  background-color: rgba(153,153,153,0.9);
  color: #fff;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 3;
}

.product-thumbnail::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
  z-index: 2;
}

.seven.columns.text, div.three.columns.text {
  margin-top: 15px;
}

.seven.columns.text {
  margin-left: 15px;
}

.three.columns.text {
  margin-left: 9px;
  text-align: right;
}

.seven.columns.text > p {
  margin-left: 10px;
}

#running-totals.row {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 0.3;
  height: 70px;
}

#payment-headings.six.columns {
  color: #616161;
}

#payment-costs.six.columns {
  text-align: right;
}

#total.row {
  padding-top: 25px;
}

#total.row > div.eight.columns {
  margin-top: 5px;
}

.four.columns.cost {
  display: -webkit-inline-box;
}

p#total-currency {
  font-size: 10px;
  margin: 10px 20px 0 55px;
  color: #616161;
}

p#total-cost {
  font-size: 22px;
  font-weight: bolder;
}

/*--------------- CUSTOMER --------------*/
.checkout-forms {
  width: 85%;
  margin-bottom: 30px;
  margin-left: 80px;
}

#customer-email > form {
  margin-bottom: 12px;
}

#customer-email > form > label {
  padding-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

#customer-email > form > input, #shipping-details > form > div > input,
#shipping-details > form > div > select {
  margin-top: 10px;
  width: 100%;
  border: 2px solid #666;
  height: 45px;
}

#customer-email > form > input:focus, #shipping-details > form > div > input:focus,
#shipping-details > form > div > select:focus {
  background: #f5f5f5;
  color: #000;
  border: 2px solid #000;
}

#customer-email > p {
  font-size: 12px;
  color: #828282  ;
}

#customer-email > p > a {
  color: #000;
  margin-left: 8px;
}

#shipping-details > form > div > input, #shipping-details > form > div > select {
  border: 1px solid #666;
}

#shipping-details > h5 {
  margin-top: 12px;
  font-size: 16px;
}

.eight.columns.shipping-address {
  width: 67%;
}

.four.columns.shipping-apartment {
  margin-left: 10px;
}

.eight.columns.shipping-address, .five.columns.shipping-country {
  margin-left: 0;
}

.five.columns.shipping-state {
  margin-left: 10px;
}

.two.columns.shipping-zipcode {
  margin-left: 10px;
  width: 109px;
}

#customer-navigation.row {
  margin-left: 10px;
}

#customer-navigation.row  > div.six.columns > a > button {
  margin-left: 85px;
}

.save-information {
  margin-top: 20px;
}

#save-checkbox.six.columns {
  width: 0;
  margin-left: 10px;
}

input[type=checkbox] {
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  padding: 10px;
}

#info-save > p {
  margin-top: 2px;
  color: #828282;
  font-size: 14px;
}

.return {
  width: 20%;
}

.four.columns.return {
  margin-left: 0;
}

.return > p {
  margin-top: 10px;
}

.return > img {
  margin-top: 15px;
}

.return > p > a {
  color: #000;
  font-size: 15px;
}

.return > img {
  width: 50%;
}

#customer-navigation.row > div.six.columns > a > button {
  height: 50px;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
}

#customer-navigation.row > div.six.columns > a > button:hover {
  background-color: #a57967;
  color: #fff;
}

/*--------------- ACCOUNT PAGES --------------*/
#first-name.six.columns > input, #last-name.six.columns > input,
#email.six.columns > input, #password.six.columns > input {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}
/*input[type=text], input[type=password] {
  width: 280px;
  height: 50px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid #000;
}*/

input:focus {
  border: 3px solid #a57967;
  background-color: #a57967;
  color: #fff;
  font-weight: bolder;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/*---------- SIGNUP ---------*/
div#create-account {
  margin-top: 90px;
}

div#create-title.twelve.columns, div#create-account.twelve.columns,
div#create-account-btn.twelve.columns  {
  text-align: center;
}

div#create-title.twelve.columns > h1, div#return-to-login > div.row > p {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 70px;
}

div#first-name.six.columns, div#email.six.columns {
  text-align: right;
}

div#last-name.six.columns, div#password.six.columns {
  text-align: left;
}

div#user-name.row {
  margin-bottom: 25px;
}

div#email-password.row {
  height: 90px;
}

div#create-account {
  height: 440px;
}

div#create-account-btn.twelve.columns > a > button#create,
div#return-to-login > div.row > a > button#return-to-login-btn {
  width: 250px;
  height: 50px;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #a57967;
  color: #a57967;
  font-weight: bolder;
}

div#create-account-btn.twelve.columns > a > button#create:hover,
div#return-to-login > div.row > a >button#return-to-login-btn:hover {
  background-color: #a57967;
  color: #fff;
}

div#return-to-login {
  text-align: center;
  width: 60%;
  margin: auto;
  border-top: 1px solid #999;
  padding-top: 70px;
  height: 250px;
}

/*---------- LOGIN ---------*/

/*--------------- FOOTER --------------*/
footer, .push {
  height: 40px;
}

footer {
  background-color: #000;
  position: relative;
  height: 100px;
  color: #a57967;
}

footer > div.twelve.columns {
  position: absolute;
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

/*Maddie's CSS, feel free to move this to organize it*/

/*.button {
  color: #A57967;
}*/
